html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.fon {
    color: #f4f4f4;
}

#content {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

.dani {
    margin: 0 0 57px 86px;
}

.bold {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin: 0 0 57px 82px;

}

.light2 {
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: 16px;
    color: #000000;
    margin: -30px 0 57px 15px;
}

p.str1, p.str2, p.str3, p.str4 {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;
    color: #000000;

}

p.texs1, p.texs2, p.texs3, p.texs4 {
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: 17px;
    color: #737373;
    margin: 6px 0 33px 0;
}

.email_adminy {
    width: 316px;
    min-height: 500px;
    margin: 13px 0 -61px 0;
    display: block;
    background-color: #ffffff;
    border: 1px solid #9a9a9a;
    position: relative;
    z-index: 100;
}

.text-danger {
    color: #a94442;
    margin: 0 0 0 18px;
}

textarea.text {
    width: 248px;
    height: 248px;
    margin: 0 17px 29px 18px;
    display: block;
}

input.text {
    width: 248px;
    height: 35px;
    margin: 1px 0 12px 17px;
    display: block;
}

.breadcrumb {
    margin-left: auto;
    margin-right: auto;
}

.breadcrumb i {
    font-size: 15px;
}

.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
    position: relative;
    white-space: nowrap;
}

.breadcrumb li:last-child {
    color: #b9b9b9;
}

p.vopros {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
    text-align: center;
    padding: 0;
    margin: 22px 0 17px 0;
}

label.entry_email, label.entry_enquiry {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 13px;
    color: #999999;
    margin: 2px 0 5px 18px;

}

.otpravutu {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 23px;
    color: white;
    text-align: center;
}

.otpravutu {
    background: #69a541;
    border: 1px solid #ffffff;
    padding: 0;
    width: 193px;
    height: 43px;
    margin: 0 auto;
    display: block;
}

.mapa {
    height: 605px;
    border-bottom: 5px solid #69a541;
    border-top: 5px solid #69a541;
}

@media (min-width: 320px) and  (max-width: 499px) {
    .row_heading_title {
        border-bottom: 1px solid #69a541;
    }

    .block01 {
        display: inline-block;
        position: relative;
        transform: translateY(7px);
        background: whitesmoke;
    }

    .block1 {
        display: inline-block;
        position: relative;
        transform: translateY(1px);
        background: whitesmoke;
    }

    .container_light {
        margin: 0 0 45px 0;
        padding: 0;
    }

    .light {
        font-family: 'Helvetica';
        font-size: 20px;
        color: #69a541;
        font-weight: 300;
        margin: 044px 0 0 36px;
    }

    .email_adminy {
        width: 92%;
        height: 100%;
        display: block;
        background-color: #ffffff;
        border: 1px solid #9a9a9a;
        border-radius: 3px;
        margin: 0 0 -50px 28px;
        padding: 0
    }

    .fon {
        color: #f4f4f4;
    }

    #content {
        background-color: #f5f5f5;
        padding: 0;
        margin: 0;
    }

    #row_text {
        font-family: 'Helvetica';
        font-style: italic;
        font-size: 17px;
        color: #69a541;
        margin: 15px 38px 0 0;
    }

    .dani {
        margin: 0;
    }

    .bold {
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 25px;
        color: #000000;
        margin: 0 0 0 20px;
        padding-right: 15px;
        background: whitesmoke;
    }

    p.str1, p.str2, p.str3, p.str4 {
        font-family: 'Helvetica';
        font-weight: 300;
        font-size: 20px;
        color: #000000;
        margin: 0 0 0 20px;
        padding-right: 0;
        background: whitesmoke;
    }

    .row_text_store, .row_text_grafick, .row_text_telephone, .row_text_email {
        border-bottom: 1px solid #69a541;
        height: 23px;
        width: 100%;
    }

    p.texs1, p.texs2, p.texs3, p.texs4 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 20px;
        color: #737373;
        margin: 33px 0 58px 20px
    }

    .text-danger {
        color: #a94442;
        font-size: 24px;
        margin: 0 0 0 43px;
    }

    textarea.text {
        width: 76%;
        height: 200px;
        margin: auto;
        margin-bottom: 25px;
        display: block;
    }

    input.text {
        width: 75%;
        height: 38px;
        margin: auto;

    }

    p.vopros {
        font-family: Bebas Neue;
        font-weight: 400;
        font-size: 30px;
        color: #000000;
        text-align: center;
        padding: 0;
        margin: 49px 0 30px 0;
    }

    label.entry_email, label.entry_enquiry {
        font-family: 'Helvetica';
        font-weight: 300;
        font-size: 15px;
        color: #999999;
        margin: 30px 0 15px 45px;

    }

    .otpravutu {
        font-family: Bebas Neue;
        font-weight: 400;
        font-size: 20px;
        color: white;
        text-align: center;
    }

    .otpravutu {
        background: #69a541;
        border: 1px solid #ffffff;
        padding: 0;
        width: 50%;
        height: 100%;
        margin: auto;
        margin-bottom: 25px;
        display: block;
    }
    .category_heading_title_1 {
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 25px;
        color: #000000;
        margin: 0 0 49px 25px;
        padding-right: 25px;
        background: whitesmoke;
    }
    .prodright a{
        font-family: 'Helvetica';
        font-size: 12px;
        font-weight: 500;
        color: #000000;

    }
    .prodright p{
        font-family: 'Helvetica';
        font-size: 12px;
        font-weight: 300;
        color: #000000;

    }
    .text_span_1 {
        font-size: 30px;
        font-weight: 600;
        color: #000000;
        font-family: 'Helvetica';
        text-transform: uppercase;
        background: whitesmoke;
    }
    .border_headergall{
        border-bottom: 1px solid #69a541;
        margin-bottom: 40px;
        margin-left: 20px;
        padding:0;
        width: 94%;

    }
    .block_headergall {
        display: inline-block;
        position: relative;
        transform: translateY(12px);
        background: whitesmoke;
    }

}

@media (min-width: 500px) and  (max-width: 767px) {
    .row_heading_title {
        border-bottom: 1px solid #69a541;
    }

    .block01 {
        display: inline-block;
        position: relative;
        transform: translateY(7px);
        background: whitesmoke;
    }

    .block1 {
        display: inline-block;
        position: relative;
        transform: translateY(1px);
        background: whitesmoke;
    }

    .container_light {
        margin: 0 0 45px 0;
        padding: 0;
    }

    .light {
        font-family: 'Helvetica';
        font-size: 31.5px;
        color: #69a541;
        font-weight: 300;
        margin: 044px 0 0 36px;
    }

    .email_adminy {
        width: 96%;
        height: 100%;
        display: block;
        background-color: #ffffff;
        border: 1px solid #9a9a9a;
        border-radius: 3px;
        margin: 0 0 -144px 28px;
        padding: 0
    }

    .fon {
        color: #f4f4f4;
    }

    #content {
        background-color: #f5f5f5;
        padding: 0;
        margin: 0;
    }

    #row_text {
        font-family: 'Helvetica';
        font-style: italic;
        font-size: 17px;
        color: #69a541;
        margin: 15px 38px 0 0;
    }

    .dani {
        margin: 0;
    }

    .bold {
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 36px;
        color: #000000;
        margin: 0 0 0 20px;
        padding-right: 15px;
        background: whitesmoke;
    }

    .light2 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 16px;
        color: #000000;
        margin: 0;
    }

    p.str1, p.str2, p.str3, p.str4 {
        font-family: 'Helvetica';
        font-weight: 300;
        font-size: 36px;
        color: #000000;
        margin: 0 0 0 20px;
        padding-right: 15px;
        background: whitesmoke;
    }

    .row_text_store, .row_text_grafick, .row_text_telephone, .row_text_email {
        border-bottom: 1px solid #69a541;
        height: 39px;
        width: 100%;
    }

    p.texs1, p.texs2, p.texs3, p.texs4 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 33px;
        color: #737373;
        margin: 33px 0 58px 20px
    }

    .text-danger {
        color: #a94442;
        font-size: 24px;
        margin: 0 0 0 43px;
    }

    textarea.text {
        width: 86%;
        height: 557px;
        margin: auto;
        margin-bottom: 50px;
        display: block;
    }

    input.text {
        width: 86%;
        height: 79px;
        margin: auto;

    }

    p.vopros {
        font-family: Bebas Neue;
        font-weight: 400;
        font-size: 62px;
        color: #000000;
        text-align: center;
        padding: 0;
        margin: 49px 0 30px 0;
    }

    label.entry_email, label.entry_enquiry {
        font-family: 'Helvetica';
        font-weight: 300;
        font-size: 29px;
        color: #999999;
        margin: 30px 0 15px 45px;

    }

    .otpravutu {
        font-family: Bebas Neue;
        font-weight: 400;
        font-size: 52px;
        color: white;
        text-align: center;
    }

    .otpravutu {
        background: #69a541;
        border: 1px solid #ffffff;
        padding: 0;
        width: 50%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        display: block;
    }

    .mapa {
        height: 605px;
        border-bottom: 10px solid #69a541;
        border-top: 10px solid #69a541;
    }
    .category_heading_title_1 {
        font-family: 'Helvetica';
        
        font-weight: 500;
        font-size: 37px;
        color: #000000;
        margin: 0 0 49px 25px;
        padding-right: 25px;
        background: whitesmoke;
    }
    .prodleft {
        background-color: #ffffff;
        padding-bottom: 0;
        padding-top: 6%;
    }
    .headergall {
        !important;
        margin: 0;
       padding: 0;
    }
    .text_span_1 {
        font-family: 'Helvetica';
        font-weight: 600;
        font-size: 30px;
        color: #000000;
        text-transform: uppercase;
    }
    .border_headergall{
        border-bottom: 1px solid #69a541;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    .block_headergall {
        display: inline-block;
        position: relative;
        transform: translateY(12px);
        background: whitesmoke;
        padding-right: 30px;
    }
    
    .text_title_article h1{
    !important;
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        
    }
}

@media (min-width: 768px) {
    .border01 {
        border-bottom: 1px solid #999999;
        height: 24px;
        width: 228px;
        margin-left: 130px;
    }

    .border02 {
        border-bottom: 1px solid #69a541;
        height: 24px;
        width: 116px;
        margin-left: auto;
        margin-right: -31px;
    }

    .bord1 {
        border-bottom: 1px solid #999999;
        height: 24px;
        width: 169px;
        margin-left: 194px;
    }

    .bord2 {
        border-bottom: 1px solid #69a541;
        height: 24px;
        width: 111px;
        margin-left: auto;
        margin-right: -31px;
    }

    .light {
        font-family: 'Helvetica';
        font-size: 16.5px;
        color: #69a541;
        font-weight: 300;
        margin: 0px 0 55px 46px;
        padding: 0;
    }

    .border1 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 315px;
        margin-left: 19px;
    }

    .border2 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 244px;
        margin-left: -44px;
    }

    .border3 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 295px;
        margin-left: -95px;
    }

    .border4 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 323px;
        margin-left: -123px;
    }

    .email_adminy {
        width: 316px;
        min-height: 500px;
        margin: -13px 0 -40px 107px;
        display: block;
        background-color: #ffffff;
        border: 1px solid #9a9a9a;
        border-radius: 3px;
    }
    .category_heading_title_1 {
        font-family: 'Helvetica';
        
        font-weight: 500;
        font-size: 37px;
        color: #000000;
        margin: 0 0 49px 25px;
        padding-right: 25px;
        background: whitesmoke;
    }
    .prodleft {
        background-color: #ffffff;
        padding-bottom: 0%;
        padding-top: 0%;
    }
    .text_span_1{
        font-size: 20px;
        color: #000000;
        font-family: 'Helvetica';
        text-transform: uppercase;
    }
    .borderb {
        min-height: 22px;
        border-bottom: 1px solid #999999;
    }
    .bordery {
        min-height: 22px;
        border-bottom: 1px solid #69a541;
    }
    .text_title_article h1{
        !important;
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        
    }
}

@media (min-width: 992px) {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    .email_adminy {
        width: 316px;
        min-height: 500px;
        margin: 13px 0 -61px 0;
        display: block;
        background-color: #ffffff;
        border: 1px solid #9a9a9a;
    }

    .border01 {
        border-bottom: 1px solid #999999;
        height: 24px;
        width: 431px;
        margin-left: 100px;
    }

    .border02 {
        border-bottom: 1px solid #69a541;
        height: 24px;
        width: 81px;
        margin-left: auto;
    }

    .bord1 {
        border-bottom: 1px solid #999999;
        height: 24px;
        width: 300px;
        margin-left: 170px;
    }

    .bord2 {
        border-bottom: 1px solid #69a541;
        height: 24px;
        width: 142px;
        margin-left: auto;
    }

    #row_text {
        font-family: 'Helvetica';
        font-style: italic;
        font-size: 17px;
        color: #69a541;
        margin: 15px 38px 20px 0;
    }

    #row_text {
        font-family: 'Helvetica';
        font-style: italic;
        font-size: 17px;
        color: #69a541;
        margin: 15px 38px 20px 0px;
    }

    .dani {
        margin: 0 0 57px 86px;
    }

    .bold {
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        margin: 0 0 57px 82px;

    }

    .light2 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 16px;
        color: #000000;
        margin: -8px 0 57px 15px;
    }

    .light {
        font-family: 'Helvetica';
        font-size: 23.5px;
        color: #69a541;
        font-weight: 300;
        margin: 0 0 55px 99px;
    }

    p.str1, p.str2, p.str3, p.str4 {
        font-family: 'Helvetica';
        font-weight: 300;
        font-size: 17px;
        color: #000000;
        margin: 0 0 0 -67px;

    }

    .border1 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 249px;
        margin-left: -25px;
    }

    .border2 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 180px;
        margin-left: -68px;

    }

    .border3 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 232px;
        margin-left: -30px;

    }

    .border4 {
        border-bottom: 1px solid #69a541;
        height: 17px;
        width: 258px;
        margin-left: -79px;

    }

    p.texs1, p.texs2, p.texs3, p.texs4 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 17px;
        color: #737373;
        margin: 6px 0 33px -54px;
        padding: 0;
    }

    .category_heading_title h1{
        font-family: 'Helvetica';
        
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        
    }
    .prodright a{
        font-family: 'Helvetica';
        font-size: 13px;
        font-weight: 500;
        color: #000000;

    }
    .prodright p{
        font-family: 'Helvetica';
        font-size: 13px;
        font-weight: 300;
        color: #000000;

    }
    .border_h1 {
        display: inline-block;
        position: relative;
        transform: translateY(22px);
        background: whitesmoke;
    }
    .row_border{
        
        margin: 0 0 25px 82px;
        padding: 0;
    }
    .border_2 {
        margin-bottom:35px;
        border-bottom: 1px solid #69a541;
        width: 100px;
        margin-left: 496px;
        display: inline-block;
        position: relative;
        transform: translateY(5px);
        background: whitesmoke;
    }
    .prodleft {
        background-color: #ffffff;
        padding-bottom: 16%;
        padding-top: 16%;
    }
    .text_span {
        font-size: 22px;
        color: #000000;
        font-family: 'Helvetica';
        text-transform: uppercase;
    }
    .margin_prem2{
        margin-bottom: 50px;
    }
    .text_title_article h1{
    !important;
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 22px;
        color: #000000;
        
    }

}

@media (min-width: 1200px) {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    #row_text {
        font-family: 'Helvetica';
        font-style: italic;
        font-size: 17px;
        color: #69a541;
        margin: 15px 38px 20px 0;
    }

    .dani {
        margin: 0 0 57px 86px;
    }

    .bold {
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        margin: 0 0 57px 82px;

    }

    .light2 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 16px;
        color: #000000;
        margin: -30px 0 57px 15px;
    }

    .light {
        font-family: 'Helvetica';
        font-size: 23.5px;
        color: #69a541;
        font-weight: 300;
        margin: 0 0 55px 99px;
    }

    p.str1, p.str2, p.str3, p.str4 {
        font-family: 'Helvetica';
        font-weight: 300;
        font-size: 17px;
        color: #000000;

    }

    .border01 {
        border-bottom: 1px solid #999999;
        height: 24px;
        width: 444px;
        margin-left: 100px;
    }

    .border02 {
        border-bottom: 1px solid #69a541;
        height: 24px;
        width: 192px;
        margin-left: auto;
        margin-right: -31px;
    }

    .bord1 {
        border-bottom: 1px solid #999999;
        height: 24px;
        width: 405px;
        margin-left: 140px;
    }

    .bord2 {
        border-bottom: 1px solid #69a541;
        height: 24px;
        width: 192px;

        margin-right: -31px;
    }

    .border1 {
        border-bottom: 1px solid #69a541;
        height: 18px;
        width: 337px;
        margin-left: -40px;
    }

    .border2 {
        border-bottom: 1px solid #69a541;
        height: 18px;
        width: 267px;
        margin-left: -89px;


    }

    .border3 {
        border-bottom: 1px solid #69a541;
        height: 18px;
        width: 318px;
        margin-left: -51px;

    }

    .border4 {
        border-bottom: 1px solid #69a541;
        height: 18px;
        width: 347px;
        margin-left: -109px;

    }

    p.texs1, p.texs2, p.texs3, p.texs4 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 17px;
        color: #737373;
        margin: 6px 0 33px -52px;
    }
    .border_h1 {
        display: inline-block;
        position: relative;
        transform: translateY(22px);
        background: whitesmoke;
    }
    .row_border{
        
        margin: 0 0 25px 82px;
        padding: 0;
    }
    .border_2{
        margin-bottom:35px;
        border-bottom: 1px solid #69a541;
        width: 166px;
        margin-left: 566px;
        display: inline-block;
        position: relative;
        transform: translateY(5px);
        background: whitesmoke;
    }
    .prodleft {
        background-color: #ffffff;
        padding-bottom: 6%;
        padding-top: 6%;
    }
    .margin_prem2{
        margin-bottom: 50px;
    }
    .text_span {
        font-size: 22px;
        color: #000000;
        font-family: 'Helvetica';
        text-transform: uppercase;
    }
    .text_title_article h1{
    !important;
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 22px;
        color: #000000;
        
    }

}

.category_heading_title {
    font-family: 'Helvetica';
    padding-left:20px;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    margin: 0;
    padding-right: 25px;
    background: whitesmoke;
}.border_conteiner{
     border-bottom: 1px solid #999999;
     border-top: 1px solid #999999;
     border-left: 1px solid #999999;
 }
 h4.text_zagolovok{
     font-family: 'Helvetica';
     font-weight: 500;
     font-size: 16px;
     color: #000000;
 }
.text_breadcrumb{
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #95c2e2;
}
.spanprod{
    display: none;
}
.container_spanprod:hover .spanprod{
    display: block;
}
.text_breadcrumb_article{

    font-family: 'Helvetica';
    font-size: 18px;
    text-transform: lowercase;
    !important;
}
.cat_text{
    !important;
    padding: 25px 0 25px 44px;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

.style_heading_title{
    !important;
    padding: 0;
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: 400;
}
.style_description{
    !important;
    font-family: 'Helvetica';
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
}
.style_datecreate{
!important;
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    padding: 0;
}