
@import"../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr.css";
.text_body{
    color: #000000;
    background-color: #f4f4f4;
}
h1 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}
span.bolte {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 18px;

}
.text {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;

}
.text_opus_about{
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;
}
.text_light {
    font-family: 'Helvetica';
    font-weight: 200;
    font-size: 21px;

}
.border {
    background: url(/../catalog/view/theme/default/image/2.png)center no-repeat;
    min-height: 180px;
    background-size: cover;
    margin: -2.59% 0 0 0;
    background-position: 50% 0%;
}
.gol {
    background: url(/../catalog/view/theme/default/image/9.png)right no-repeat;
    position: absolute;
    z-index: 100;
    background-size: contain;
}
.ged {
    background: url(/../catalog/view/theme/default/image/11.png)left no-repeat;
    position: absolute;
    z-index: 100;
    background-size: contain;
}
.zal {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    top: -7px;
    margin: 40px 0 0 0;

}
.text-zal {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    font-style: normal;
}
.text-h3{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 20px;
    margin: -7% 0px 1% -6%;
    color: #000000;
}

.text-od {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    padding: 0px 0px 36px 0px;
}
.text-end {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;
    color: #000000;
}
h2{
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}
.text-fut {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 24px;
    margin: 24% 0 0 0;
}
.text_h3 {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 20px;
    margin: 13% 0 0 0;
    font-style: normal;
}
@media (max-width: 992px) and (min-width: 560px )   {
    .text_h3 {
        font-family: 'Helvetica';
        font-weight: 400;
        font-size: 31px;
        margin: 15% 0 0 0;
    }
}
.border_news {
	    min-height: 26px !important;
		border-bottom: 1px solid #999999 !important;
}
.border_news_2 {
	    min-height: 26px !important;
        border-bottom: 1px solid #69a541;!important
}
.border_block {
	padding: 10%;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.perila_text_h4 {
	font-family: 'Helvetica';
    font-weight: 400 !important; 
    font-size: 18px;
    color: #000000;
    display: block;
    padding: 5%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #0b0b0b !important;
}
.news_block_resp{
	display: block;
    max-width: 100%;
    height: auto;
    margin: 0 !important;
}
.news_span_zaholovok{
	font-family: 'Helvetica';
	font-weight: 500;
    font-size: 27px;
	color: #000000;
}
.perila_text_opus{
	font-family: 'Helvetica';
    font-weight: 300;
    font-size: 15px;
    color: #000000;
}
.perila_podrobnee{
	font-family: 'Helvetica';
	color: #69a541;
	font-weight: 300;
    font-size: 15px;
}
.perila_data{
	font-family: 'Helvetica';
	color: #000000;
    font-weight: 400;
    font-size: 15px;
}
