@import "../fonts/bebas/bebasneue.css";
/*
	Bebas Neue, 100, 200, 300, 400, 700
*/
@import"../fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr.css";
/*
	PT Sans, 400, 400 italic, 700, 700 italic
*/


body {
    background-color: #f4f4f4;
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	/*line-height: 20px;*/
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #69a541;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #69a541;
	background-image: linear-gradient(to bottom, #69a541, #84b364);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #69a541;
	background-image: linear-gradient(to bottom, #69a541, #84b364);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: transparent;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu li > div {
			min-width: 100%;
		}
	}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #69a541;
	background-image: linear-gradient(to bottom, #69a541, #84b364);
	background-repeat: repeat-x;
	border-color: #69a541 #69a541 #69a541;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #69a541;
	background-image: linear-gradient(to bottom, #69a541, #84b364);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #69a541;
	background-image: linear-gradient(to bottom, #69a541, #84b364);
	background-repeat: repeat-x;
	border-color: #69a541 #69a541 #69a541;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #69a541;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* footer */
footer {
	margin-top: 0;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Helvetica', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
.customdrop{
    padding-left: 15px;
    list-style: none;
}
.dropDownSubMenu{
    list-style: none;
}
.menuname{
    padding-right: 10%;
    padding-left: 10%;
    color: #8a8a8a;
}
.menuname span{
    line-height: 2.8;
    font-size: 20px;
}
.menunamecat{
    padding: 15px;
    background-color: #fcfcfc;
    color: #8a8a8a;
}
.menunamecat span{

    font-size: 15px;
}
.product {
    padding-bottom: 2%;
}
.productimg {
    background-repeat: no-repeat;
}
.productimg img{
   width: 100%;
}
.product_span{
    width: 100%;
    text-align: center;
    padding: 5%;
    color: #ffffff;
    cursor: pointer;
    display: table;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.47);

}
.navbar-nav a{
    color: #000000;
}
.prem_content ul{
    /*-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;*/

}
.navbar-nav a:hover{
    color: #69a541;
}
.prodctcathome {
    padding-top: 25px;
}
.listcat{
    background-color: #e0e0e0;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.prodmarg{
    margin-top: -30px;
}
.cat-thumb{
    box-shadow: 0px 1px 8px 0px rgba(136, 136, 136, 0.37);
}
.cat-thumb-style{
    min-height:403px;
}
.cat-thumb:hover {
    box-shadow: 0px 0px 8px 2px rgba(136, 136, 136, 0.37);
}
.imgborder{

}
.prodright{
        padding: 3%;
}
.prodright h4{
    font-size: 14px;

    font-family: 'Helvetica';
    text-transform: uppercase;
}
.prodright a{
	font-family: 'Helvetica';
	font-size: 13px;
	font-weight: 500;
    color: #000000;

}
.prodright p{
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: 300;
    color: #000000;

}
.btncart{
        color: #ffffff;
    position: relative;
    top: 20px;
    background-color: #69a541;
    outline: none !important;
    width: 70%;
	font-family: 'Helvetica';
    font-size: 15px;
    vertical-align: bottom;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 0;
    border-radius: 20px;

}
.prem-home-style{
	max-height: inherit !important;
	padding-top: 3% !important;
	padding-right: 5% !important;
	padding-left: 5% !important;
	padding-bottom: 3%;
	background-color: #69a541 !important;
}

.prem{
    padding-bottom: 1%;
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #69a541;
}
.prem_header{
    padding-bottom: 5%;
}
.prem_header span{
    font-size: 17px;
    color: #ffffff;
    font-family: 'Helvetica';
	font-weight: 700;
    text-transform: uppercase;
}
.prem_opaciti{
   opacity: 0.8;
    z-index: auto;
    min-height: 50px;
    background-color: #69a541;
    position: relative;
    bottom: 35px;
    filter: Alpha(opacity=80);
}
.prem_content{
    padding-top: 20px;
	padding-bottom: 20px;
}
.prem  li:before {
    content: "";
    line-height: 1em;
    width: .5em;
    height: .5em;
    background-color: #fdfdfd;
    float: left;
    margin: .5em .25em 0;
    border-radius: 50%;

   }
.prem  li {
        padding-top: 10px;


   }
.product-list{
    padding-right: 5px;
    padding-left: 10px;
}
.cat_text{
    padding: 10%;
    border: 1px solid #ddd;
}
.prema{
    padding-bottom: 1%;
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #69a541;

}



.prema  li:before {
    content: "";
    line-height: 1em;
    width: .5em;
    height: .5em;
    background-color: #fdfdfd;
    float: left;
    margin: .5em .25em 0;
    border-radius: 50%;

   }
.prema  li {
        padding-top: 10px;


   }

.prem_content  ul {
    list-style-type: none;
    padding: 0;

   }
.prem li:nth-child(n+5){
    display: none;
}
.prem2{
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
}
.prem2{
    font-size: 22px;
    color: #ffffff;
    font-family: 'Helvetica';
    text-transform: uppercase;
}
.borderb{
    min-height: 31px;
    border-bottom: 2px solid #999999;
}
.borderbsmal{
    min-height: 2px;
    border-bottom: 1px solid #999999;
}
.bord{
    min-height: 1px;
    border-left: 1px solid #999999;
}
.bordery{
    min-height: 31px;
    border-bottom: 2px solid #69a541;
}

.wrap {
 overflow-x: auto;
 overflow-y: hidden;
 }

.wrap ul {
min-width: 100%;
white-space: nowrap;
padding-right: 0px;
padding-left: 0px;
}
.carttov1{
       border-left: 1px solid #69a541;
    border-right: 1px solid #69a541;
    padding: 5%;
    background-color: #e0e0e0;
    border-top: 1px solid #69a541;

}
.carttov1 h3{
   padding-bottom: 5%;

}
.carttov2{
       border-left: 1px solid #69a541;
    border-right: 1px solid #69a541;
    border-top: 1px solid #69a541;

    padding: 6%;
    background-color: #f0f0f0;

}
.carttov3{
        border: 1px solid #69a541;
    padding: 6%;
    background-color: #ffffff;

}
.carttov3a{
        margin-top: 4%;
    font-size: 140%;

}
.carttov4{
        border: 1px solid #69a541;
    padding: 8%;
    background-color: #69a541;

}
.carttov4 button{
    background-color: #69a541;
    border-radius: 20px;
    border: 0px;
    color: black;
}
.cartinput{
    color: #f47a2f;
    padding: 2%;
    width: 50%;
}
.kartheader{
    border-bottom: 1px solid #FFFFFF; border-left: 1px solid #999999;    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
}
.quont-plus{
    color: #69a541;
}
.quont-minus{
    color: #69a541;
}
.plusminusinp{
    color: #69a541;
    margin-left: 5%;
    padding: 2%;
    width: 20%;
    margin-right: 5%;
}
.description{
	margin-bottom: 10%;
        border-bottom: 1px solid #999999;
        border-left: 1px solid #999999;
        border-right: 1px solid #999999;
    margin-left: -20px;
    padding: 3%;
    background-color: #ffffff;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;

}
.menu-content{
      list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
      font-size: 13px;

}

.menu-content :not(collapsed) .arrow:before{
    font-size: 22pt;
    color: #69a541;

                 content: "\2022";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;


            }

.collapsed .arrow:before {
    font-size: 22px!important;
    color: #ffffff!important;

  content:"\2022"!important;



}
.sub-menu{
   list-style: none;
}
.btnm{
        padding: 7.5px 42px!important;
    background-color: #9ecb3c;
    color: #ffffff;
}
.padtext{
    padding-bottom: 2%;
}
.orangedescription{
    color: #69a541;
}
.descriptiontitle{
    margin-top: -20px;
    background-color: #ffffff;
}
.karttovsp{
        border-right: 10px solid #69a541;
        border: 10px solid transparent;

    position: absolute;
    top: 80px;
    margin-left: -20px;
}


.wrap li {
 display: inline-block;
 vertical-align: top;
 height: 100px;
 }

.wrap li img {max-width: 100%;}
.prem3{
    max-height: 260px;
    padding-top: 3%;
    padding-right: 0%;
    padding-left: 0%;
}
.bluegar{
    background-color: #69a541;
    height: 228px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%!important;
    padding-left: 2%!important;
}
.bluegar span{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Helvetica';
    text-transform: uppercase;
}
.bluegar p{
        margin-top: 25%;
    font-size: 14px;
    color: #000000;
    font-family: 'Helvetica';
    text-transform: uppercase;
    line-height: 2;
    border: 1px solid #000000;
}
.bluegar a{
    color: #000000!important;
}
.ribbon {
	font-family: 'Helvetica';
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    text-align: center;
    color: #fff;
    background: #666666;
    z-index: 99999;
	margin-left: 2px;
}

.ribbonright {
    border: 10px solid transparent;

    /* border-top-right-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    position: absolute;
    top: 80px;
    margin-left: -19px;
}
.prodleft{
    background-color: #ffffff;
    padding-bottom: 10%;
    padding-top: 10%;
}
/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {

    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .karttovar{
      padding-right: 0;
}
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.headergall{
    padding-top: 2%;
    /* padding-right: 5%; */
    padding-bottom: 5%;
    padding-left: 10%;
    /* padding: 5%; */
}
.categoryshow{
  min-height: 300px;
  margin-bottom: 20px;
}
.preim{
    line-height: 2;
    border: 1px solid #ffffff;
}
.preim button{
    color: #000000;
    width: 100%;
}
.spancat h4{
    font-weight: bold;
    font-size: 16px;
    margin-top: 50px;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */

.breadcrumb {
	/*margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;*/
	margin-left: auto;
	margin-right: auto;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	position: relative;
	white-space: nowrap;
}
.pagination {
	margin: 0;
}

/*katalog_produktsyi*/
.katalog_produktsyi{
	width: 292px;
	height: 331px;
	background-color: #e0e0e0;

}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #69a541;
	background-image: linear-gradient(to bottom, #69a541, #84b364);
	background-repeat: repeat-x;
	border-color: #69a541 #69a541 #69a541;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #69a541;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #69a541;
	border-radius: 0;
}
.btn-link-style{
	outline: none !important;
	font-family: 'Helvetica' !important;
	font-weight: 400 !important;
	font-size: 13px;
}
.btn-link-style:hover, .btn-link-style:focus {
	color: #000000 !important;
	text-decoration: none !important;
	background-color: transparent;
}.btn-link-style:hover{
	 color: #000000 !important;
	 text-decoration: none !important;
	background-color: transparent;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #69a541;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
.menu-style{
	font-family: 'Helvetica Neue';
	font-weight: 400;
	color: black;
	font-size: 15px;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
    padding: 5%;
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {

    .prem li:nth-child(n+4){
    display: none;
}
    .prem_content ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}

.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}


#style-1::-webkit-scrollbar-track
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-1::-webkit-scrollbar
{


	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{

    background-repeat: no-repeat ;
	border-radius: 10px;
	background: url(/../../image/catalog/scroll.png) center no-repeat;
	background-color:#f0f0f0;
	border:1px solid #a3a3a3;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.wrap li{
    padding: 15px;
}
.wrap {
    margin-left: 5%;
    width: 90%;
}
.btnp{
        background-color: #69a541;
    color: #ffffff;
}
.formh4{
    font-size: 85%;
	display: block;
}
.modal-content{
     border-radius: 0px;
}

.kartheader{
    //box-shadow: 0px 1px 8px 0px rgba(136, 136, 136, 0.37);
    background-color: white;
    padding: 0;
    margin: 0;
    //padding-bottom: 5%;
    margin-left: -20px;
}
.thumbnails {
    box-shadow: 0px 1px 8px 0px rgba(136, 136, 136, 0.37);
    background-color: #ffffff;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
     padding-bottom: 5%;
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
.no-padding{
	padding: 0 0 0 0 !important;
}
.no-margin{
	margin: 0 !important;
}
.inner{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.logo-padding{
	padding: 11px 0px 10px 0px;
}
.search-padding{
	padding-right: 0;
	padding-top: 20px;
}
.graph-icon-padding{
	padding-left: 15px;
	padding-top: 20px;
}
.graph-padding{
	padding-top: 8px!important;
	padding-left: 0;
}
.phone-padding{
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
	text-align: right;
}
.phone-icon-padding{
	padding-top: 10px !important;
	padding-left: 5px;
}
.btn-color:hover{
	background-color: transparent;
	color: #69a541 !important;
	border: 1px solid;
}
.btn-color{
	outline: none !important;
	background-color: transparent;
	color: #69a541 !important;
	border: 1px solid;
}
.mobile-text-style{
	font-family: 'Helvetica';
	font-weight: 400;
	font-size: 25px;
	color: #404040;
}
.mobile-text-div{
	padding-left: 25px;
	padding-bottom: 60px;
}
.mobile-btn-style-1{
	background: rgba(244, 205, 75, 0.8);
	border-radius: 0;
	font-family: 'Bebas Neue';
	font-weight: 400;
	color: #ffffff;
	width: 80%;
	font-size: 20px;
	border: 0;
}
.mobile-btn:hover{
	color: #ffffff !important;
}
.mobile-btn:focus{
	color: #ffffff;
}
.mobile-btn-div{
	text-align: center;
	padding-bottom: 40px;
}
.mobile-btn-style-2{
	background: rgba(47, 161, 213, 0.8);
	border-radius: 0;
	font-family: 'Bebas Neue';
	font-weight: 400;
	color: #ffffff;
	width: 80%;
	font-size: 20px;
	border: 0;
}
.btn-padding{
	padding-top: 18px;
	padding-left: 35px;

}
.btn-header:hover{
	background-color: transparent;
	color: #69a541;
	border: 1px solid;
}
.a-color{
	color: #000000 !important;
}
.mobile-logo-padding{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 0px;
}
.mobile-email-padding{
	padding-left: 20px;
}
.mobile-phone-padding{
	padding-right: 20px;
}
.mobile-phone-style{
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 50px;
	color: #69a541;
	display: block;
	height: 115px;
	line-height: 115px;
}
.mobile-email-style{
	font-family: 'Helvetica Neue';
	font-weight: 400;
	font-size: 33px;
	color: #ffffffff;
	display: block;
	height: 115px;
	line-height: 115px;
}
.dropdown-position{
	width: 50%;
	position: absolute;
	background-color: #69a541;
	top: 0;
	right: 0;
	text-align: center;
	z-index: 100;
	max-height: 600px !important;
	height: 500px !important;
}
.dropdown-no-padding{
	padding-left: 0;
}
.email-color{
	color: #ffffff;
}
.email-position{
	position: absolute;
	top: 85px;
	z-index: 100;
}
.email-padding{
	padding-left: 10px;
	padding-top: 4px;
}
.email-icon-padding{
	padding-left: 30px;
	padding-right: 0;
}
.width-btn{
	width: 100%;
}
.slider-style{
    height: 445px !important;
    border: 0 !important;
	box-shadow: none !important;
	opacity: 1;
	margin: 0 !important;
	border-radius:0;
}
.ul-position{
	width: 100%;
}
.li-text-style:focus, .li-text-style:hover, .li-text-style:visited, .li-text-style:active, .li-text-style{
	font-family: 'Helvetica';
	font-weight: 400;
	text-align: center;
	background-color: transparent !important;
	text-decoration: none !important;
	padding-left: 20%;
}
.a-menu-style, .a-menu-style:focus{
	text-decoration: none !important;
}
.div-li-border-right{
	border-right: 1px solid #999999;
}
.div-li-position{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}
.div-email-style{
	background-color: #26272a;
	padding: 0 !important;
	height: 115px;
}
.span-width{
	height: 3px !important;
}
.mobile-background-image {
	background-image: url(/../../admin/view/image/banner.png);
	background-size: 100% 100%;
}
.banner-text-style{
	font-size: 30px;
	line-height: 40px;
	color: #0b0b0b;
	padding-bottom: 40px;
	padding-left: 0;
	font-family: 'Helvetica';
	font-weight: 700;
}
.banner-text-padding{
	padding-top: 25px;
	padding-left: 25px;
}
.div-banner-border{
	border-bottom: 1px solid #69a541;
	/*border-bottom: 1px solid #0b0b0b;*/
	padding-top: 55px;
	/*transform: translateX(60px) !important;*/
	width: 33% !important;
}
.navbar-toggle span{
	width: 100% !important;
	display: block !important;
	margin-top: 24% !important;
}
.mobile-btn-padding{
	padding-right: 0;
	padding-top: 0;
	width: 15% !important;
}
.mobile-navbar-height{
	height: 15% !important;
}
.email-style{
	font-size: 15px;
	font-family: 'Helvetica';
	font-weight: 400;
	color: #000000;
}
.phone-style{
	font-family: 'Bebas Neue' !important;
	font-weight: 400;
	color: #69a541;
	font-size: 21px;
}

.graph-style{
	font-family: 'Helvetica';
	font-weight: 300;
	line-height: 15px;
	font-size: 12px;
	color: #fff;
}
.top-header-style{
	position: absolute !important;
	z-index: 100 !important;
	background: rgba(19,20,24,0.9) !important;
}

.footer-img{
	background-image: url(/../../catalog/view/theme/default/image/footerFone.png);
	background-size: 100% 100%;
	border-bottom: 3px solid #69a541;
}
.footer-img-bottom{
	background-image: url(/../../catalog/view/theme/default/image/footerFone1.png);
	background-size: 100% 100%;
	border-bottom: 6px solid #000000;
}
.footer-padding{
	padding-top: 5% !important;
	padding-bottom: 5% !important;
	padding-left: 0;
}
.footer-text-style{
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}
.footer-tex-color-1{
	color: #cccccc;
}
.footer-tex-color-2{
	color: #ffffff;
}
.footer-tex-color-3{
	color: #e6ba2d;
}
.input-style{
	background: rgba(200,200,200,0.8);
}
.form-text-style{
	font-size: 15px;
	font-family: 'Helvetica' !important;
	font-weight: 400;
	color: #ffffff;
}
.footer-btn-text-style{
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
}
.footer-btn-style{
	background-color: #69a541 !important;
	background-image: none !important;
	text-shadow: none !important;
	width: 80% !important;
	right: 0;
}
.footer-btn-div{
	padding-top: 20px;
	text-align: right;
}
.footer-form-div{
	padding-top: 45px;
	padding-bottom: 45px;
}
.footer-div-logo{
	padding-left: 0;
}
.footer-div-border{
	border-right: 1px solid #d0d0d0;
}
.footer-div-middle{
	padding-top: 40px;
	padding-bottom: 35px;
}
.footer-phone-style{
	font-family: 'Helvetica';
	font-weight: 300;
	font-size: 13px;
	color: #000000;
	text-align: right;
	padding-top: 7px !important;
	padding-right: 20px !important;
}
.footer-phone-icon-style{
	padding-left: 30px;
}
.footer-email-icon-style{
	padding-left: 30px;
}
.footer-email-style{
	font-family: 'Helvetica';
	font-weight: 300;
	font-size: 12px;
	color: #000000;
	text-align: right;
	padding-top: 7px !important;
	padding-right: 20px !important;
}
.md-footer-div-address{
	text-align: right;
	padding-bottom: 52px;
}
.footer-div-address{
	text-align: right;
	padding-bottom: 66px;
}
.footer-address-style{
	font-family: 'Helvetica';
	font-weight: 300;
	font-size: 13px;
	color: #000000;
	padding-left: 0;
	padding-right: 0;
	padding-top: 7px;
}
.footer-grafic-style{
	font-family: 'Helvetica';
	font-weight: 300;
	font-size: 12px;
	color: #000000;
	padding-left: 0;
	padding-right: 0;
	padding-top: 7px;
}
.footerd-div-graf{
	padding-bottom: 55px;
}
.footer-icon-padding{
	padding-top: 16px;
	padding-left: 0;
}
.footer-a-padding{
	padding-right: 5px;

}
.footer-menu-style{
	font-size: 12px;
}

.footer-a-style{
	color: #fff !important;
	padding-left: 0 !important;
	padding-right: 30px !important;
	background-color: transparent !important;
}
.footer-text-reklama{
	padding: 20px 0 0;
	text-align: right;
}
.footer-reklama-logo{
	padding-top: 15px;
}
.foofter-last-text-style{
	padding: 6px 0 0;
}
.footer-mobile-img{
	background-image: url(/../../catalog/view/theme/default/image/mobile-footer-img.png);
	background-size: 100% 100%;
	border-top: 6px solid #69a541;
	border-bottom: 6px solid #69a541;
}
.footer-mobile-padding{
	padding-left: 15%;
	padding-right: 15%;
}
.footer-bottom-div{
	background-color: #ffffff;
}
.footer-btn-mobile{
	background-color: #69a541 !important;
	background-image: none !important;
	text-shadow: none !important;
	width: 95% !important;
	right: 0;
}
.footer-btn-mobile-div{
	padding-top: 14px;
	text-align: center;
}
.footer-mobile-form-div{
	padding-top: 0;
	padding-bottom: 45px;
}
.footer-mobile-text-style{
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
}
.form-mobile-text-style{
	font-family: 'Helvetica';
	font-weight: 400;
	color: #ffffff;
	font-size: 15px;
}
.input-footer-padding{
	padding-bottom: 15px;
}
.footer-mobile-icon-style{
	width: 9%;
	padding-right: 10px;
}
.mobile-footer-icon-position{
	text-align: center;
}
.mobile-footer-and-text{
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.md-footer-padding{

	padding: 8px 0 0 30px;
}
.icon-footer-padding{
	padding-bottom: 3px;
}
.sm-footer-middle-padding{
	padding-bottom: 15px;
}
.footer-right-icon-padding{
	padding-right: 5px;
	padding-top: 10px;
	padding-left: 0;
	padding-bottom: 0;
}
.error-style{
	background: rgba(249, 242, 244, 0.6);
	font-size: 100%;
}
.header-nav-style{
	padding: 0 !important;
}
.category-name-style{
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 15px !important;
	font-size:18px !important;
	line-height: 0;
}
.ul-category-style{
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.li-category-style{
    line-height: 19px;
    margin-bottom:5px;
    color: #8a8a8a !important;
    margin-bottom: 8px;
	font-family: 'Helvetica';
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
}
.a-category-style{
	color: #000;
}
.a-category-style-1{
    line-height: 17px;
    float:left;
    font-family: 'Helvetica';
    font-weight: 600;
    float: left;
    color: #666666;
    font-size: 14px;
}
.a-category-style:hover{
	color: #000;
}
.a-category-child-style{
	color: inherit !important;
	outline: none !important;
	text-decoration: none;
}
.a-category-child-style:hover, .a-category-child-style:active, .a-category-child-style:focus{
	color: #69a541 !important;
	outline: none !important;
	text-decoration: none;
}
.li-category-child-style{
    line-height: 17px;
    margin-top:7px !important;
	font-family: 'Helvetica';
	font-weight: 300;
}
.category-name-padding{
	padding-top: 15px !important;
	padding-bottom: 10px !important;
}
.category-icon-style{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #69a541;
	display: inline-block;
	border: 2px solid #d1d1d1;
}
.category-icon-style_1{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
	display: inline-block;
	border: 2px solid #d1d1d1;
}
.category-img-style{
	width: 100%;
	height: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.column-left-style{
	padding-top: 25px;
}
.home-text-titile-style{
	font-family: 'Helvetica' !important;
	font-weight: 700 !important;
	padding-left: 15px !important;
	color: #000 !important;
	font-size: 20px !important;
}
.home-text-content-style{
	font-family: 'Helvetica' !important;
	font-weight: 200 !important;
	color: #000;
	font-size: 12px !important;
	text-transform: none !important;
}
.seo-title-style{
	font-family: 'Helvetica' !important;
	font-weight: 700 !important;
	font-size: 22px !important;
	color: #0b0b0b !important;
}
.seo-text-style{
	font-family: 'Helvetica' !important;
	font-weight: 200 !important;
	font-size: 12px !important;
	color: #0b0b0b;
	padding-bottom: 3%;
	text-transform: none !important;
}
.work-text-style{
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 30px;
	color: #0b0b0b;
	padding-bottom: 2%;
	padding-top: 1%;
}
.prem_content-style{
	padding-left: 8%;
	font-family: 'Helvetica';
	font-weight: 200;
	font-size: 17px !important;
	color: #000;
}
.carttov1-style{
	border-left: 1px solid #69a541 !important;
	border-right: 1px solid #69a541 !important;
	padding: 5% !important;
	background-color: #e0e0e0 !important;
	border-top: 1px solid #69a541 !important;
	position: relative !important;
}
.carttov2-style{
	border-left: 1px solid #69a541 !important;
	border-right: 1px solid #69a541 !important;
	padding: 6% !important;
	background-color: #f0f0f0 !important;
	border-top: none;
	position: relative !important;
}
.carttov3-style{
	border: none;
	border-left: 1px solid #69a541 !important;
	border-right: 1px solid #69a541 !important;
	padding: 6%;
	background-color: #ffffff;
	position: relative !important;

}
.ribbon-bottom-1{
	border: 10px solid transparent;
	border-top: 10px solid #e0e0e0;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	z-index: 100;
}
.ribbon-bottom-2{
	border: 10px solid transparent;
	border-top: 10px solid #f0f0f0;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	z-index: 100;
}
.ribbon-bottom-3{
	border: 10px solid transparent;
	border-top: 10px solid #ffffff;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	z-index: 100;
}
.zakaz-style h1{
	font-size: 22px;
	color: #000000;
	font-family: 'Helvetica';
	font-weight: 700;
}
.carttov1-text-style{
	font-family: 'Helvetica';
	font-weight: 500;
	color: #000000;
	font-size: 21px;
}
.carttov1-prise-text-style{
	font-family: 'Helvetica';
	font-weight: 400;
	font-size: 12px;
	padding-top: 5px;
}
.carttov2-text-1-style{
	font-family: 'Helvetica' !important;
	font-weight: 700 !important;
	font-size: 12px;
}
.carttov2-text-2-style{
	font-family: 'Helvetica' !important;
	font-weight: 200 !important;
	font-size: 12px;
}
.carttov3a-style{
	margin-top: 4% !important;
	font-size: 17px !important;
	font-family: 'Helvetica' !important;
	font-weight: 500 !important;
}
.carttov4-btn-text-style{
	font-family: 'Helvetica';
	font-weight: 400;
	font-size: 12px !important;
	outline: none !important;
}
.navigation-style{
    font-size: 15px !important;
	font-family: 'Helvetica' !important;
	font-style: italic !important;
	font-weight: 400;
}
.kartheader-text-style{
	color: #69a541;
	font-size: 21px;
	font-family: 'Helvetica' !important;
	font-weight: 500;
	display: block;
	margin-top: 14px;
	margin-bottom: 14px;
}
.descriptions-link-style{
	font-family: 'Helvetica' !important;
	font-weight: 300 !important;
	font-style: italic !important;
	font-size: 12px !important;
}
.descriptions-style{
	font-family: 'Helvetica' !important;
	font-weight: 200 !important;
	font-size: 13px !important;

}
.menunamecat-span-style{
	background-color: #fcfcfc !important;
	color: #8a8a8a !important;
	font-family: "Helvetica" !important;
	font-weight: 200 !important;
	font-size: 14px !important;
}
.menunamecat-span-style:hover, .menunamecat-span-style:focus, .menunamecat-span-style:active {
	background-color: #fcfcfc !important;
	color: #69a541 !important;
	font-family: "Helvetica" !important;
	font-weight: 200 !important;
	font-size: 14px !important;
}
.category-title-style{
    height: 70px !important;
    padding:10px;
    line-height: 19px;
	text-transform: capitalize;
	color: #8a8a8a !important;
	font-family: "Helvetica" !important;
	font-weight: 200 !important;
	font-size: 14px !important;
}
.category-title-style:hover, .category-title-style:focus, .category-title-style:active {
	text-transform: capitalize;
	color: #69a541 !important;
	font-family: "Helvetica" !important;
	font-weight: 200 !important;
	font-size: 14px !important;
}
.btn-font-size{
	font-size: 12px;
}
.div-slider-btn{
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	right: 10%;
	top: 330px;
	z-index: 101;
	background: rgb(105, 165, 65);
	-webkit-clip-path: polygon(15% 0, 100% 1%, 100% 100%, 15% 100%, 0% 50%);
	clip-path: polygon(15% 0, 100% 1%, 100% 100%, 15% 100%, 0% 50%);
	cursor: pointer;
}
.slider-btn-text{
	padding-left: 35px;
	padding-right: 15px;
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 20px;
	color: #fff;
}
@media (max-width: 991px) and (min-width: 850px )   {
	.slider-text-style_1{
		font-family: 'Helvetica';
		font-weight: 700;
		font-size: 50px !important;
		color: #fff;
	}
	.slider-text-style_2{
		font-family: 'Helvetica';
		font-weight: 700;
		font-size: 40px !important;
		color: #fff;
	}
	/*.slider-text-style_3{*/
		/*font-family: 'Helvetica';*/
		/*font-weight: 200;*/
		/*font-size: 15px !important;*/
		/*color: #fff;*/
	/*}*/
	/*.slider-text-style_4{*/
		/*margin-top: 15px;*/
		/*margin-bottom: 15px;*/
		/*background-image: url(/../../catalog/view/theme/default/image/text_img.png);*/
		/*height: 20px !important;*/
		/*width: 70%;*/
		/*background-size: cover;*/
	/*}*/
}
@media (max-width: 849px) and (min-width: 768px )   {
	.slider-text-style_1{
		font-family: 'Helvetica';
		font-weight: 700;
		font-size: 50px !important;
		color: #fff;
	}
	.slider-text-style_2{
		font-family: 'Helvetica';
		font-weight: 700;
		font-size: 40px !important;
		color: #fff;
	}
	.slider-text-style_3{
		font-family: 'Helvetica';
		font-weight: 200;
		font-size: 20px !important;
		color: #fff;
	}
	.slider-text-style_4{
		margin-top: 15px;
		margin-bottom: 15px;
		background-image: url(/../../catalog/view/theme/default/image/text_img.png);
		height: 20px !important;
		width: 70%;
		background-size: cover;
	}
}
@media (max-width: 991px) and (min-width: 256px )   {
	.btn-font-size{
		font-size: 8px;
	}
}
@media (max-width: 991px) and (min-width: 256px )   {
	.prem-home-style{
		max-height: inherit !important;
		padding-top: 3% !important;
		padding-right: 5% !important;
		padding-left: 5% !important;
		padding-bottom: 7%;
		background-color: #69a541 !important;
	}
	.prem{
		padding-bottom: 10%;
		padding-top: 3%;
		padding-right: 5%;
		padding-left: 5%;
		background-color: #69a541;
	}
	.prema{
		padding-bottom: 10%;
		padding-top: 3%;
		padding-right: 5%;
		padding-left: 5%;
		background-color: #69a541;
	}
}
@media (max-width: 1199px) and (min-width: 256px )   {
	.bluegar{
		height: 188px;
		background-color: #69a541;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-right: 2%!important;
		padding-left: 2%!important;
	}
}
@media (max-width: 991px) and (min-width: 768px )   {
	.prem_content-style{
		padding-left: 20%;
		padding-right: 20%;
		font-family: 'Helvetica';
		font-weight: 200;
		font-size: 17px !important;
		color: #000;
	}
}
@media (max-width: 767px) and (min-width: 256px )   {
	.prem_content-style{
		padding-left: 15%;
		padding-right: 15%;
		font-family: 'Helvetica';
		font-weight: 200;
		font-size: 17px !important;
		color: #000;
	}
}
@media (max-width: 767px) and (min-width: 256px )   {
	.listcat{
		margin-right: 30px;
		margin-left: 30px;
		background-color: #e0e0e0;
		border-radius: 3px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	.li-category-style{
	    line-height: 19px;
        margin-bottom:5px;
        color: #8a8a8a !important;
        margin-bottom: 8px;
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 25px;
		line-height: 35px;
	}
	.column-left-style{
		padding-top: 0;
	}
}
@media (max-width: 991px) and (min-width: 768px )   {
    .prodmarg{
        margin-top: 5%;

    }
    .thumbnails{
        margin-left: 0px;
    }
    .kartheader{
       margin-left: 0px;
    }
    .description{
        margin-bottom: 0px;
         margin-left: 0px;
    }
     .descriptions{
        padding-right: 4%;

   // padding-left: 4%;
    }
    .kartheader{
        border-bottom: none;
    }
	.footer-btn-text-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 13px;
		color: #ffffff;
	}
}
@media (max-width: 1199px) and (min-width: 992px )   {
	.footer-div-address{
		text-align: right;
		padding-bottom: 52px;
	}
}
@media (max-width: 1199px) and (min-width: 1050px )   {
	.div-span-padding{
		padding-top: 15px;
	}
	.phone-style{
		font-family: 'Bebas Neue' !important;
		font-weight: 400;
		color: #69a541;
		font-size: 18px;
		padding-left: 0px;
	}
	.graph-padding{
		font-size: 10px;
		padding-top: 8px!important;
		padding-left: 0;
	}
}
@media (max-width: 1049px) and (min-width: 992px )   {
	.div-span-padding{
		padding-top: 15px;
	}
	.phone-style{
		font-family: 'Bebas Neue' !important;
		font-weight: 400;
		color: #69a541;
		font-size: 18px;
		padding-left: 0px;
	}
	.graph-padding{
		font-size: 10px;
		padding-top: 8px!important;
		padding-left: 0;
	}
}
@media (max-width: 991px) and (min-width: 768px )   {
	.style-display-none{
		display: none;
	}
	.div-media-width{
		width: 85%;
	}
}

@media (max-width: 767px) and (min-width: 708px )   {
    .prodmarg {
    margin-top: 5%;
}
    .thumbnails{
       margin-left: 0px;
    }
    .kartheader{
        margin-left: 0px;
    }
    .description {
    margin-bottom: 0px;
    margin-left: 0px;
}
    .descriptions {
    padding-right: 4%;
}

	.div-email-style{
		background-color: #26272a;
		padding: 0 !important;
		height: 80px;
	}
	.mobile-email-style{
		font-family: 'Helvetica Neue';
		font-weight: 400;
		font-size: 30px;
		color: #ffffffff;
		display: block;
		height: 80px;
		line-height: 80px;
	}
	.mobile-phone-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 40px;
		color: #69a541;
		display: block;
		height: 80px;
		line-height: 80px;
	}
}

@media (max-width: 707px) and (min-width: 650px )   {
        .prodmarg {
    margin-top: 5%;
}
    .thumbnails{
       margin-left: 0px;
    }
    .kartheader{
        margin-left: 0px;
    }
    .description {
    margin-bottom: 0px;
    margin-left: 0px;
}
    .descriptions {
    padding-right: 4%;
}
	.div-email-style{
		background-color: #26272a;
		padding: 0 !important;
		height: 80px;
	}
	.mobile-email-style{
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 20px;
		color: #ffffffff;
		display: block;
		height: 80px;
		line-height: 80px;
	}
	.mobile-phone-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 30px;
		color: #69a541;
		display: block;
		height: 80px;
		line-height: 80px;
	}
}
@media (max-width: 479px) and (min-width: 367px )   {
	.div-email-style{
		background-color: #26272a;
		padding: 0 !important;
		height: 50px;
	}
	.mobile-email-style{
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 15px;
		color: #ffffffff;
		display: block;
		height: 50px;
		line-height: 50px;
	}
	.mobile-phone-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 20px;
		color: #69a541;
		display: block;
		height: 50px;
		line-height: 50px;
	}
}
@media (max-width: 366px) and (min-width: 310px )   {
	.div-email-style{
		background-color: #26272a;
		padding: 0 !important;
		height: 30px;
	}
	.mobile-email-style{
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 10px;
		color: #ffffffff;
		display: block;
		height: 30px;
		line-height: 30px;
	}
	.mobile-phone-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 15px;
		color: #69a541;
		display: block;
		height: 30px;
		line-height: 30px;
	}
}
@media (max-width: 309px) and (min-width: 253px )   {
	.div-email-style{
		background-color: #26272a;
		padding: 0 !important;
		height: 20px;
	}
	.mobile-email-style{
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 8px;
		color: #ffffffff;
		display: block;
		height: 20px;
		line-height: 20px;
	}
	.mobile-phone-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 10px;
		color: #69a541;
		display: block;
		height: 20px;
		line-height: 20px;
	}
}
@media (max-width: 649px) and (min-width: 550px )   {
        .prodmarg {
    margin-top: 5%;
}
    .thumbnails{
       margin-left: 0px;
    }
    .kartheader{
        margin-left: 0px;
    }
    .description {
    margin-bottom: 0px;
    margin-left: 0px;
}
    .descriptions {
    padding-right: 4.9%;
}
	.div-email-style{
		background-color: #26272a;
		padding: 0 !important;
		height: 55px;
	}
	.mobile-email-style{
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 20px;
		color: #ffffffff;
		display: block;
		height: 55px;
		line-height: 55px;
	}
	.mobile-phone-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 30px;
		color: #69a541;
		display: block;
		height: 55px;
		line-height: 55px;
	}
}
@media (max-width: 549px) and (min-width: 480px )   {
	.div-email-style{
		background-color: #26272a;
		padding: 0 !important;
		height: 40px;
	}
	.mobile-email-style{
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 20px;
		color: #ffffffff;
		display: block;
		height: 40px;
		line-height: 40px;
	}
	.mobile-phone-style{
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-size: 20px;
		color: #69a541;
		display: block;
		height: 40px;
		line-height: 40px;
	}
}
input[name ="search"]::-webkit-input-placeholder {color:#000; !important}
input[name ="search"]::-moz-placeholder          {color:#000; !important}/* Firefox 19+ */
input[name ="search"]:-moz-placeholder           {color:#000; !important}/* Firefox 18- */
input[name ="search"]:-ms-input-placeholder      {color:#000; !important}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3{
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}
.banner-div-text{
	background-size: cover;
	background: rgba(0, 0, 0, 0.3);
	padding-left: 2%;
	position: absolute;
	z-index: 100;
	top: 125px;
	padding-right: 16%;
	padding-bottom: 1%;
	-webkit-clip-path: polygon(0 0, 100% 0, 48% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 48% 100%, 0 100%);
}

.slider-text-style_1{
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 60px;
	color: #fff;
}
.slider-text-style_2{
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 40px;
	color: #fff;
}
.slider-text-style_3{
	font-family: 'Helvetica';
	font-weight: 200;
	font-size: 20px;
	color: #fff;
}
.slider-text-style_4{
	margin-top: 15px;
	margin-bottom: 15px;
	background-image: url(/../../catalog/view/theme/default/image/text_img.png);
	height: 25px;
	width: 75%;
	background-size: cover;
}

.CategoryName{
    position:relative;
    padding-left:15px;
    padding-right:10px;
}

.CategoryNameActive{
    position:relative;
    padding-left:15px;
    padding-right:10px;
}

.CategoryName:after{
    content:'';
    width:9px;
    height:9px;
    position:absolute;
    left:0px;
    background-color:white;
    border:1px solid #c8c8c8;
    border-radius:50%;
    top:7px;
}
.CategoryNameActive:after{
    content:'';
    width:9px;
    height:9px;
    position:absolute;
    left:0px;
    background-color:white;
    border:1px solid #c8c8c8;
    border-radius:50%;
    top:7px;
    background-color:#69a541;
}
.modal-contact-title{
	font-size: 15px;
	display: block;
}
.news-title-style, .news-title-style:hover{
	color: #0b0b0b;
}
.product-text-div-top p{
	font-family: 'Helvetica' !important;

}
.product-title-style{
	display: block;
	font-size: 14px;
	font-family: 'Helvetica';
	text-transform: uppercase;
	padding: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.header-search-padding{
	padding-left: 0;
}
.header-graph-div-padding{
	padding-right: 0;
}
.header-div-graph-position{
	position: relative;
}
.headre-phone-div-color{
	color: #69a541;
}
.header-menu-div-style{
	background-color: #ffffff;
	padding-top: 10px;
}
.header-navbar-style{
	margin: 0;
	border-radius:0;
	border: 0;
}
.li-padding-0, .li-padding-0:hover{
	padding-left: 0;
}
.modal-error-display{
	display: none;
}
.modal-close-div{
	border-bottom: none;
}
.modal-ul-style{
	padding-left: 15px;
}
.mobile-banner-text-padding{
	padding-left: 0;
}
.mobile-banner-text-span{
	display: block;
}
.email-linc-style, .email-linc-style:hover, .email-linc-style:active, .email-linc-style:visited, .email-linc-style:focus{
	font-family: 'Helvetica';
	font-weight: 300;
	color: #0b0b0b;
	text-decoration: none;
}
.email-linc-style-desktop, .email-linc-style-desktop:hover, .email-linc-style-desktop:active,
.email-linc-style-desktop:visited, .email-linc-style-desktop:focus{
	font-family: 'Helvetica';
	font-weight: 300;
	color: #fff;
	text-decoration: none;
}
.mobile-border-width{
	border-top-width: 0px !important;
}
.mobile-li-style{
	color: #fff;
	font-size: 25px;
	line-height: 80px;
}
.product-li-img{
	overflow-y: hidden;
	margin: 0 !important;
}
.product-img-style{
	width: 100%;
}
.product-ul-style{
	border: 1px solid #999999;
	margin-bottom: 50px !important;
}
.footer-style{
	padding-top: 0; border: 0;
}
.footer-img-div-style{
	margin-top: 20px !important;
}
.footer-div-text-style{
	line-height: 20px;
}
.footer-ul-error{
	padding-left: 15px;
}
.footer-code-error{
	display: none;
}
.footer-middle-div-style{
	width: 100%;
	background-color: #ffffff;
}
.footer-logo-div-style{
	padding-bottom: 22px;
	padding-left: 0;
}
.footer-phone-img-style{
	padding-bottom: 5px;
}
.footer-phone-div-style{
	padding-bottom: 5px;
}
.footer-email-div-style{
	padding-bottom: 4px;
}
.footer-email-span-style{
	padding-right: 0 !important;
}
.footer-adres-div-style{
	padding-bottom: 14px;
}
.footer-li-div-style{
	padding-top: 35px;
	padding-bottom: 35px;
}
.footer-ul-menu-style{
	line-height: 30px;
}
.footer-reklama-div-style{
	padding-left: 0;
}
.footer-reklama-span-style{
	font-size: 12px;
}
.mobile-footer-text-style{
	line-height: 20px;
}
.mobile-footer-ul-error{
	padding-left: 15px;
}
.mobile-footer-code-error{
	display: none;
}
.infodivtextcolor{
    color: #0b0b0b !important;
}
.search-btn-style{
    font-size: 15px;
    font-family: 'Helvetica';
    font-weight: 300;
    background-color: #69a541 !important;
    background-image: none !important;
    text-shadow: none !important;
}
.search-text-style{
    margin-top: 20px;
    margin-bottom:  10px;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    display: block;
}
.product-scrol-margin{
    padding-bottom: 20px;
}
.modal-consult-title-style{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 500;
    line-height: 1.1;
}
.modal-consult-bottom-style{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 500;
    line-height: 1.1;
}
.modal-zakaz-title-style{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 500;
    line-height: 1.1;
}
.modal-zakaz-bottom-style{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 500;
    line-height: 1.1;
}
.error-page-breadcrumb-ul{
    font-size: 17px !important;
    font-style: italic !important;
}
.error-page-breadcrumb-li{
    padding-top: 10px !important;
}
.main-menu-activ-style{
    color: #69a541 !important;
}
.search-inpyt-style{
    padding-left:30px !important;
    background-color: #bfbfc0 !important;
}
.about-content-div-margin{
    margin: 40px 0 0 0;
}
.about-a-style-new{
    color: #3e9fd6;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;
}
.about-a-style-new-1{
    color: #8a8a8a;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;
}
.about-title-sty-new{
    padding-bottom: 3%;
}
.about-div-border-1{
    min-height: 38px;
    border-bottom: 1px solid #999999;
}
.about-div-border-2{
    min-height: 38px;
    border-bottom: 1px solid #69a541;
}
.about-section-div-padding{
    padding-bottom: 3%;
}
.about-section-div-border-1{
    min-height: 38px;
    border-bottom: 1px solid #999999;
}
.about-section-div-border-2{
    min-height: 38px;
    border-bottom: 1px solid #69a541;
}
.about-text-zal-style{
    margin-left: 5%;
}
.about-text-zal-style-1{
    margin-left: 2%;
}
.category-name-div-padding{
    padding-top: 30px !important;
    padding-bottom: 20px !important;
}
.width-100-style{
    width: 100%;
}
.category-width-div-style{
    width: 70%;
}
.product-mi-height-style{
    min-height:200px;
    background-size: cover;
}
.product-a-padding-style{
    padding: 10px;
}
.product-title-div-padding{
    padding-bottom: 3%;
}
.description-div-padding-style{
    padding: 3%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}
.price-div-padding-style{
    padding-top: 15px;
}
.product-description-div-padding{
    padding-right: 0px;
    padding-left: 0;
}
.product-description-div-padding-1{
    border-bottom: 1px solid #999999;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    margin-left: -16px;
}
.modal-div-border-style{
    border-bottom: none;
}
.product-price-last-color{
    color:#fe6100;
}
.review-td-width{
    width: 50%;
}
.product-tax-div-style{
    min-height:200px;
    background-size: cover;
}
.product-btncart-style{
    padding: 10px;
}
.order-info-width-50{
    width: 50%;
}
.order-info-td-width{
    width: 20px;
}
.recurring-info-width{
    width: 50%;
}
.recurring-info-td-style{
    width: 50%;
    vertical-align: top;
}
.recurring-info-td-p-style{
    margin:5px;
}
.header-btn-color-style{
    border-color: transparent !important;
}
.header-ul-style-new{
    line-height: 30px !important;
    width: 95% !important;
}
.category-clear-both{
    clear:both;
}
.category-a-display-block{
    display:block;
}
.homesection1-title-line-height{
    line-height: 2;
}
.footer-bottom-last-text-style{
    padding-top: 10px;
    font-size: 10px;
}
.contact-title-div-width{
    width: 100%;
}
.contact-content-div-style{
    padding-right: 0;
    width: 100%;
}
.contact-error-ul-style{
    padding-left: 15px;
}
.delivery-content-div-margin{
    margin: 0 0 0 10px;
}
.delivery-content-info-margin{
    margin: 0 0 0 -5px;
}
.delivery-content-info-padding{
    padding-bottom: 3%;
}
.delivery-content-info-style-1{
    padding: 0;
    margin: 0px 0px 0px 13px;
}
.delivery-content-info-border-1{
    min-height: 38px;
    border-bottom: 1px solid #69a541;
}
.delivery-content-info-border-2{
    min-height: 38px;
    border-bottom: 1px solid #999999;
}
.delivery-content-info-border-3{
    min-height: 38px;
    border-bottom: 1px solid #999999;
}
.delivery-content-info-border-4{
    min-height: 38px;
    border-bottom: 1px solid #69a541;
}
.galery-div-bottom-style{
    height: 100px;
    width: 100%;
}
.newsblog-breadcrumb-div-style{
    margin: 1% 0 0 0;
}
.newsblog-breadcrumb-div-style-1{
    color: #8a8a8a;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;
}
.newsblog-breadcrumb-div-style-2{
    color: #3e9fd6;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 17px;
}
.newsblog-content-info-padding{
    padding-bottom: 3%;
}
.newsblog-content-info-fonts{
    font-size: 22px;
    color: #000000;
    font-family: "Conv_pfdindisplaypro-reg";
    text-transform: uppercase;
}
.artical-breadcrumb-div-style{
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 17px;
    color: #69a541;
    margin: 15px 38px 25px 0;
}
.artical-breadcrumb-div-padding-1{
   padding-top: 2px;
}
.artical-breadcrumb-div-color-1{
   background-color: #F4F4F4;
}
.artical-breadcrumb-div-last-1{
   height: 100px;
   width: 100%;
}
